---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Skillset from "../components/Skillset.astro";
---

<Layout title="Enric Planas | Full-Stack Developer, UX&UI Design">
  <main>
    <NavBar />
    <div class="flex flex-col items-center gap-52">
      <section id="AboutMe" class="max-w-[600x] lg:max-w-[1050px] mt-48">
        <Hero />
      </section>
      <section id="Experience" class="max-w-[600px] lg:max-w-[700px]">
        <h2
          class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-[--white]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-route size-7"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
              d="M19 7a2 2 0 1 0 0 -4a2 2 0 0 0 0 4z"></path><path
              d="M11 19h5.5a3.5 3.5 0 0 0 0 -7h-8a3.5 3.5 0 0 1 0 -7h4.5"
            ></path></svg
          >
           Experience
        </h2>
        <Experience />
      </section>
      <section id="Skillset" class="max-w-[700px] lg:max-w-[1050px]">
        <h2
          class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-[--white] justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-stack-2"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 4l-8 4l8 4l8 -4l-8 -4"></path><path d="M4 12l8 4l8 -4"
            ></path><path d="M4 16l8 4l8 -4"></path></svg
          >
           Skill Set
        </h2>
        <Skillset />
      </section>
      <section class="w-full">
        <Footer />
      </section>
    </div>
  </main>
</Layout>

<style></style>
