---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";

---

<Layout title="Enric Planas | Full-Stack Developer, UX&UI Design">
  <main>
    <NavBar />
    <div class="flex flex-col items-center">
      <section class="w-[750px] lg:w-[1024px]">
        <Hero />
      </section>
    </div>
  </main>
</Layout>

<style></style>
