<span
  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-green-900 text-green-300 h-fit transition select-none hover:scale-[1.1] hover:border-green-300/40 border border-green-900"
>
  <slot />
</span>
