<div class="relative rounded-xl w-[650px] border h-fit border-white/20">
  <img data-card3d
    {...Astro.props}
    class="absolute top-0 left-0 h-max  max-h-[447px] border border-white rounded-xl"
  />

  <img data-card3d
    class="cursor-pointer absolute top-0 left-0 h-max  max-h-[447px] blur-[40px] z-[-1] rounded-xl opacity-35"
    {...Astro.props}
  />
</div>
