<span
  class="  text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-indigo-900 text-indigo-300 h-fit transition select-none hover:scale-[1.1] hover:border-indigo-300/40 border border-indigo-900"
>
  <slot />
</span>
