<div class="w-full p-1 mt-56 flex flex-row gap-16">
  <img src="../../public/iosEmoji.jpg" class="size-64" />
  <div class="flex flex-col flex-wrap w-full gap-7">
    <div class="flex flex-row flex-wrap items-center">
      <h1 class="text-4xl font-semibold text-[--white]">
        Hi, my name is Enric
      </h1>
      <img src="../../public/wavinghand.png" class="size-9 ml-3" />
      <span
        class="h-fit bg-green-100 text-green-800 text-sm font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 ml-0 lg:ml-10 mt-4 lg:mt-1"
        >Open to Work!</span
      >
    </div>
    <p class=" text-xl font-medium text-slate-400/85">
        <span class=" font-medium  text-indigo-500/75">Full-stack developer</span> with a passion for crafting innovative solutions.
      Also specialized in <span class=" font-medium  text-indigo-500/75">video game development</span>. My skills extend to <span class=" font-medium  text-indigo-500/75">backend</span>,<span class="font-medium text-indigo-500/75"> software engineering</span>, <span class="font-medium text-indigo-500/75">databases</span>, <span class="font-medium text-indigo-500/75">mobile applications</span>, and
      <span class="font-medium text-indigo-500/75">electronics</span>.
    </p>
    <p class="text-xl font-medium text-slate-400/85">
      Let's turn ideas into reality with a blend of <span class=" font-medium  text-indigo-500/75">creativity</span> and <span class=" font-medium  text-indigo-500/75">precision</span>!
    </p>
  </div>
</div>

<style>
    img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }
</style>