---
import BackExperience from "./BackExperience.astro";
import BlurImage from "./BlurImage.astro";
import FrontExperience from "./FrontExperience.astro";
import VideoExperience from "./VideoExperience.astro";
---

<div class="flex flex-col gap-20">
  <div class="flex flex-row gap-12 items-center">
    <BlurImage
      class="w-full h-auto rounded-xl flex-2"
      src="/584shots_so.jpg"
      alt="Cronus Project"
    />
    <div class="flex flex-col flex-1 flex-wrap gap-4">
      <svg
        class="self-start "
        height="35"
        viewBox="0 0 207 36"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.46996 15.3568C5.81715 14.9416 4.36731 13.9827 3.37166 12.6464C2.376 11.3101 1.89728 9.68061 2.01844 8.04021C2.1396 6.39982 2.853 4.85192 4.03502 3.66471C5.21704 2.47751 6.79321 1.72578 8.49042 1.53983C10.1876 1.35387 11.8989 1.7454 13.3278 2.64655C14.7567 3.54769 15.8131 4.90172 16.314 6.47396"
          stroke="#f0f0f0"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M20.9785 7.06844C21.3479 5.47473 22.2808 4.05403 23.6177 3.04921C24.9547 2.0444 26.6126 1.51788 28.3082 1.55968C30.0037 1.60149 31.6316 2.20905 32.9133 3.27843C34.1951 4.34782 35.0513 5.81264 35.3354 7.42247C35.6195 9.03229 35.314 10.6871 34.471 12.1041C33.6281 13.521 32.3001 14.6121 30.714 15.1907"
          stroke="#f0f0f0"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          d="M30.4642 20.6462C32.102 21.1167 33.5171 22.1243 34.464 23.4942C35.4109 24.8641 35.8299 26.5099 35.6482 28.146C35.4666 29.7822 34.6958 31.3056 33.4696 32.4519C32.2434 33.5981 30.6391 34.2951 28.935 34.4217C27.2308 34.5484 25.5345 34.0967 24.14 33.1452C22.7456 32.1937 21.7411 30.8023 21.3008 29.2123"
          stroke="#f0f0f0"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          d="M16.5463 29.3797C16.08 30.9647 15.0516 32.3423 13.6397 33.273C12.2279 34.2037 10.5219 34.6287 8.81837 34.474C7.11483 34.3193 5.52144 33.5948 4.31519 32.4265C3.10893 31.2581 2.36609 29.7197 2.2158 28.0787C2.0655 26.4377 2.51724 24.7979 3.49251 23.4443C4.46778 22.0907 5.90489 21.109 7.55403 20.6697"
          stroke="#f0f0f0"
          stroke-width="3"
          stroke-linecap="round"></path>
        <path
          d="M9.51721 6.17505C8.88995 6.17509 8.28843 6.42512 7.8451 6.87017C6.92142 7.79595 6.92142 9.29752 7.8451 10.2233C7.8451 10.2233 13.0458 14.929 13.0458 18.0696C13.0459 21.2103 7.8451 25.9165 7.8451 25.9165C6.92307 26.842 6.92307 28.3417 7.8451 29.2672C8.76832 30.194 10.2661 30.194 11.1893 29.2672C11.1893 29.2672 15.8587 23.9281 19.0132 23.9281C22.1677 23.9281 26.8371 29.2672 26.8371 29.2672C27.7603 30.194 29.2581 30.194 30.1813 29.2672C31.1033 28.3417 31.1033 26.842 30.1813 25.9165C30.1813 25.9165 25.0117 21.2046 25.0118 18.0696C25.0118 14.9348 30.1813 10.2233 30.1813 10.2233C31.105 9.29752 31.105 7.79595 30.1813 6.87017C29.2581 5.94342 27.7603 5.94342 26.8371 6.87017C26.8371 6.87017 22.1332 12.0225 19.0132 12.0225C15.8932 12.0225 11.1893 6.87017 11.1893 6.87017C10.746 6.42512 10.1445 6.17509 9.51721 6.17505Z"
          fill="#f0f0f0"></path>
        <g clip-path="url(#clip0_226_96)">
          <path
            d="M72.1862 8.28935C71.9284 7.82662 71.5785 7.41943 71.1365 7.06775C70.6945 6.69757 70.1881 6.39218 69.6173 6.15156C69.0464 5.89243 68.4295 5.69809 67.7665 5.56852C67.122 5.43896 66.4498 5.37418 65.75 5.37418C64.7372 5.37418 63.798 5.49448 62.9325 5.7351C62.067 5.97572 61.312 6.3459 60.6674 6.84564C60.0413 7.34539 59.5441 7.98395 59.1758 8.76133C58.8259 9.53871 58.651 10.4642 58.651 11.5377C58.651 12.6112 58.8259 13.5367 59.1758 14.314C59.5441 15.0914 60.0413 15.73 60.6674 16.2297C61.312 16.7295 62.067 17.0996 62.9325 17.3403C63.798 17.5809 64.7372 17.7012 65.75 17.7012C66.4498 17.7012 67.122 17.6364 67.7665 17.5068C68.4295 17.3773 69.0464 17.1922 69.6173 16.9516C70.1881 16.6924 70.6945 16.387 71.1365 16.0354C71.5785 15.6652 71.9284 15.2487 72.1862 14.786H77.6831C77.2964 15.9521 76.7071 16.9793 75.9153 17.8678C75.1234 18.7562 74.1934 19.4966 73.1254 20.0889C72.0573 20.6811 70.8879 21.1254 69.6173 21.4215C68.365 21.7362 67.0759 21.8935 65.75 21.8935C64.1479 21.8935 62.5918 21.6714 61.0818 21.2272C59.5717 20.7829 58.2274 20.1259 57.0488 19.256C55.8887 18.386 54.9495 17.3125 54.2313 16.0354C53.5315 14.7397 53.1816 13.2405 53.1816 11.5377C53.1816 9.83486 53.5315 8.34488 54.2313 7.06775C54.9495 5.77212 55.8887 4.68935 57.0488 3.81943C58.2274 2.9495 59.5717 2.29242 61.0818 1.8482C62.5918 1.40399 64.1479 1.18188 65.75 1.18188C67.0759 1.18188 68.365 1.32995 69.6173 1.62609C70.8879 1.92224 72.0573 2.37571 73.1254 2.98651C74.1934 3.5788 75.1234 4.31916 75.9153 5.2076C76.7071 6.09603 77.2964 7.12328 77.6831 8.28935H72.1862Z"
            fill="#f0f0f0"
            stroke="#f0f0f0"
            stroke-width="0.755906"></path>
          <path
            d="M79.9766 1.82056H95.1139C96.1451 1.82056 97.1119 1.96864 98.0143 2.26478C98.9166 2.54242 99.6993 2.96812 100.362 3.5419C101.044 4.09717 101.578 4.80052 101.964 5.65194C102.351 6.50335 102.544 7.49357 102.544 8.62262C102.544 9.25193 102.443 9.83497 102.241 10.3717C102.056 10.89 101.799 11.3527 101.467 11.7599C101.136 12.1486 100.749 12.491 100.307 12.7872C99.8834 13.0833 99.4415 13.3147 98.9811 13.4812C99.5151 13.5553 100.012 13.7404 100.473 14.0365C100.933 14.3142 101.338 14.6751 101.688 15.1193C102.056 15.545 102.342 16.0355 102.544 16.5908C102.747 17.146 102.848 17.7291 102.848 18.3399V19.3116C102.848 19.7373 102.867 20.0797 102.904 20.3388C102.94 20.5795 102.977 20.7738 103.014 20.9219C103.069 21.0885 103.125 21.1995 103.18 21.255H98.0143C97.959 21.181 97.913 21.0607 97.8762 20.8941C97.8393 20.746 97.8025 20.5517 97.7657 20.3111C97.7288 20.0705 97.7104 19.7373 97.7104 19.3116C97.7104 18.6083 97.5539 18.016 97.2408 17.5347C96.9462 17.035 96.5779 16.637 96.1359 16.3409C95.7124 16.0262 95.2612 15.7949 94.7824 15.6468C94.3036 15.4987 93.8801 15.4247 93.5118 15.4247H85.4459V21.255H79.9766V1.82056ZM94.81 11.5378C95.1599 11.5378 95.5098 11.4638 95.8597 11.3157C96.2096 11.1491 96.5226 10.9363 96.7989 10.6771C97.0751 10.418 97.2961 10.1126 97.4618 9.76093C97.6276 9.40926 97.7104 9.02982 97.7104 8.62262C97.7104 8.1599 97.6276 7.7527 97.4618 7.40103C97.2961 7.03085 97.0751 6.72545 96.7989 6.48484C96.5226 6.22571 96.2096 6.03136 95.8597 5.9018C95.5098 5.77224 95.1599 5.70745 94.81 5.70745H85.4459V11.5378H94.81Z"
            fill="#f0f0f0"
            stroke="#f0f0f0"
            stroke-width="0.755906"></path>
          <path
            d="M117.073 21.8935C115.471 21.8935 113.933 21.6714 112.46 21.2272C110.987 20.7829 109.679 20.1259 108.537 19.256C107.414 18.386 106.512 17.3125 105.83 16.0354C105.167 14.7397 104.836 13.2405 104.836 11.5377C104.836 9.83486 105.167 8.34488 105.83 7.06775C106.512 5.77212 107.414 4.68935 108.537 3.81943C109.679 2.9495 110.987 2.29242 112.46 1.8482C113.933 1.40399 115.471 1.18188 117.073 1.18188C118.675 1.18188 120.213 1.40399 121.686 1.8482C123.178 2.29242 124.485 2.9495 125.608 3.81943C126.75 4.68935 127.652 5.77212 128.315 7.06775C128.997 8.34488 129.337 9.83486 129.337 11.5377C129.337 13.2405 128.997 14.7397 128.315 16.0354C127.652 17.3125 126.75 18.386 125.608 19.256C124.485 20.1259 123.178 20.7829 121.686 21.2272C120.213 21.6714 118.675 21.8935 117.073 21.8935ZM110.305 11.5377C110.305 12.6112 110.471 13.5182 110.802 14.2585C111.134 14.9989 111.594 15.6004 112.184 16.0631C112.773 16.5259 113.482 16.859 114.311 17.0626C115.139 17.2662 116.06 17.368 117.073 17.368C118.086 17.368 119.006 17.2662 119.835 17.0626C120.664 16.859 121.373 16.5259 121.962 16.0631C122.57 15.6004 123.03 14.9989 123.343 14.2585C123.675 13.5182 123.84 12.6112 123.84 11.5377C123.84 10.4642 123.675 9.55721 123.343 8.81685C123.03 8.07649 122.57 7.47495 121.962 7.01222C121.373 6.5495 120.664 6.21634 119.835 6.01274C119.006 5.80914 118.086 5.70734 117.073 5.70734C116.06 5.70734 115.139 5.80914 114.311 6.01274C113.482 6.21634 112.773 6.5495 112.184 7.01222C111.594 7.47495 111.134 8.07649 110.802 8.81685C110.471 9.55721 110.305 10.4642 110.305 11.5377Z"
            fill="#f0f0f0"
            stroke="#f0f0f0"
            stroke-width="0.755906"></path>
          <path
            d="M150.801 15.2581V1.82056H156.298V21.255H149.531L137.266 7.81749V21.255H131.797V1.82056H138.564L150.801 15.2581Z"
            fill="#f0f0f0"
            stroke="#f0f0f0"
            stroke-width="0.755906"></path>
          <path
            d="M181.268 14.1198C181.268 15.1933 181.102 16.1373 180.771 16.9517C180.44 17.7476 179.988 18.4417 179.417 19.034C178.865 19.6077 178.22 20.0797 177.484 20.4499C176.747 20.8201 175.974 21.107 175.164 21.3106C174.353 21.5327 173.534 21.6807 172.705 21.7548C171.876 21.8473 171.085 21.8936 170.33 21.8936C169.575 21.8936 168.773 21.8473 167.926 21.7548C167.098 21.6807 166.278 21.5327 165.468 21.3106C164.658 21.107 163.884 20.8201 163.148 20.4499C162.411 20.0797 161.757 19.6077 161.186 19.034C160.634 18.4417 160.192 17.7476 159.86 16.9517C159.529 16.1373 159.363 15.1933 159.363 14.1198V1.82056H164.833V14.1198C164.833 14.7676 164.962 15.3229 165.219 15.7856C165.496 16.2298 165.873 16.6 166.352 16.8962C166.849 17.1738 167.429 17.3774 168.092 17.507C168.773 17.6365 169.519 17.7013 170.33 17.7013C171.14 17.7013 171.876 17.6365 172.539 17.507C173.202 17.3774 173.773 17.1738 174.252 16.8962C174.749 16.6 175.127 16.2298 175.385 15.7856C175.661 15.3229 175.799 14.7676 175.799 14.1198V1.82056H181.268V14.1198Z"
            fill="#f0f0f0"
            stroke="#f0f0f0"
            stroke-width="0.755906"></path>
          <path
            d="M189.749 6.84563C189.749 7.25283 189.961 7.586 190.385 7.84512C190.808 8.10425 191.315 8.3171 191.904 8.48368C192.493 8.65026 193.092 8.77982 193.7 8.87237C194.326 8.96491 194.832 9.03895 195.219 9.09448C197.373 9.44615 199.187 9.79782 200.66 10.1495C202.152 10.4827 203.349 10.8991 204.251 11.3988C205.172 11.8986 205.826 12.5186 206.213 13.259C206.618 13.9994 206.82 14.9341 206.82 16.0631C206.82 17.1367 206.443 18.0436 205.688 18.7839C204.951 19.5243 204.003 20.1259 202.843 20.5886C201.683 21.0513 200.412 21.3845 199.031 21.5881C197.65 21.7917 196.324 21.8935 195.053 21.8935C193.598 21.8935 192.189 21.7639 190.827 21.5048C189.482 21.2642 188.285 20.8847 187.236 20.3665C186.186 19.8482 185.348 19.2097 184.722 18.4508C184.096 17.6734 183.783 16.7757 183.783 15.7577H190.053C190.053 16.2205 190.256 16.5906 190.661 16.8683C191.085 17.1459 191.582 17.3588 192.153 17.5068C192.724 17.6549 193.294 17.7567 193.865 17.8122C194.455 17.8493 194.915 17.8678 195.246 17.8678C195.615 17.8678 196.084 17.8585 196.655 17.84C197.244 17.803 197.815 17.729 198.368 17.6179C198.92 17.5068 199.39 17.331 199.777 17.0904C200.182 16.8498 200.384 16.5074 200.384 16.0631C200.384 15.5819 200.163 15.2025 199.721 14.9248C199.298 14.6287 198.801 14.3973 198.23 14.2307C197.659 14.0642 197.079 13.9439 196.489 13.8698C195.919 13.7773 195.495 13.7032 195.219 13.6477C193.488 13.3145 191.913 13.0091 190.495 12.7315C189.077 12.4539 187.853 12.093 186.821 11.6487C185.809 11.2045 185.017 10.6307 184.446 9.92739C183.893 9.20554 183.617 8.23382 183.617 7.01222C183.617 5.97572 183.976 5.09653 184.694 4.37468C185.413 3.63432 186.333 3.03278 187.457 2.57006C188.58 2.08882 189.814 1.73715 191.158 1.51504C192.503 1.29294 193.801 1.18188 195.053 1.18188C196.6 1.18188 198.073 1.31145 199.473 1.57058C200.891 1.81119 202.125 2.19062 203.174 2.70887C204.242 3.22712 205.089 3.86569 205.715 4.62456C206.342 5.38343 206.655 6.28111 206.655 7.31762H200.384C200.384 6.8734 200.163 6.51248 199.721 6.23484C199.298 5.95721 198.791 5.74436 198.202 5.59629C197.631 5.42971 197.042 5.3279 196.434 5.29088C195.845 5.23535 195.385 5.2076 195.053 5.2076C194.74 5.2076 194.289 5.2261 193.7 5.26313C193.11 5.30015 192.521 5.38344 191.932 5.513C191.342 5.62406 190.827 5.79064 190.385 6.01274C189.961 6.21634 189.749 6.49397 189.749 6.84564V6.84563Z"
            fill="#f0f0f0"
            stroke="#f0f0f0"
            stroke-width="0.755906"></path>
          <path
            d="M61.1386 26.5664C61.5719 26.5664 61.9742 26.6364 62.3456 26.7764C62.7247 26.9086 63.0536 27.0991 63.3321 27.348C63.6184 27.5968 63.8428 27.8962 64.0052 28.2462C64.1677 28.5961 64.249 28.9888 64.249 29.4243C64.249 29.8521 64.1677 30.2448 64.0052 30.6025C63.8428 30.9525 63.6184 31.2518 63.3321 31.5007C63.0536 31.7496 62.7247 31.944 62.3456 32.084C61.9742 32.2162 61.5719 32.2823 61.1386 32.2823H56.798V34.7319H54.5V26.5664H61.1386ZM56.798 28.1995V30.6492H61.1386C61.2856 30.6492 61.4326 30.6181 61.5796 30.5558C61.7266 30.4859 61.8581 30.3964 61.9742 30.2875C62.0903 30.1787 62.1831 30.0503 62.2527 29.9026C62.3224 29.7548 62.3572 29.5954 62.3572 29.4243C62.3572 29.2299 62.3224 29.0588 62.2527 28.9111C62.1831 28.7555 62.0903 28.6272 61.9742 28.5261C61.8582 28.4172 61.7266 28.3356 61.5796 28.2811C61.4326 28.2267 61.2856 28.1995 61.1386 28.1995H56.798Z"
            fill="#f0f0f0"></path>
          <path
            d="M78.7129 26.5664H85.0729C85.5062 26.5664 85.9124 26.6286 86.2915 26.753C86.6707 26.8697 86.9995 27.0485 87.278 27.2896C87.5643 27.5229 87.7887 27.8184 87.9512 28.1762C88.1137 28.5339 88.1949 28.95 88.1949 29.4243C88.1949 29.6887 88.1524 29.9337 88.0672 30.1592C87.9899 30.377 87.8815 30.5714 87.7423 30.7425C87.603 30.9058 87.4405 31.0497 87.2548 31.1741C87.0769 31.2985 86.8912 31.3957 86.6977 31.4657C86.9221 31.4968 87.131 31.5746 87.3245 31.699C87.5179 31.8157 87.6881 31.9673 87.8351 32.1539C87.9899 32.3328 88.1098 32.5389 88.1949 32.7722C88.28 33.0055 88.3226 33.2505 88.3226 33.5071V33.9154C88.3226 34.0942 88.3303 34.2381 88.3458 34.347C88.3613 34.4481 88.3767 34.5297 88.3922 34.5919C88.4154 34.6619 88.4386 34.7086 88.4618 34.7319H86.2915C86.2683 34.7008 86.249 34.6502 86.2335 34.5803C86.218 34.518 86.2026 34.4364 86.1871 34.3353C86.1716 34.2342 86.1639 34.0942 86.1639 33.9154C86.1639 33.6198 86.0981 33.371 85.9666 33.1688C85.8428 32.9588 85.688 32.7916 85.5023 32.6672C85.3244 32.535 85.1348 32.4378 84.9337 32.3756C84.7325 32.3134 84.5545 32.2822 84.3998 32.2822H81.0109V34.7319H78.7129V26.5664ZM84.9453 30.6492C85.0923 30.6492 85.2393 30.6181 85.3863 30.5558C85.5333 30.4859 85.6648 30.3964 85.7809 30.2875C85.8969 30.1787 85.9898 30.0504 86.0594 29.9026C86.1291 29.7548 86.1639 29.5954 86.1639 29.4243C86.1639 29.2299 86.1291 29.0588 86.0594 28.9111C85.9898 28.7555 85.8969 28.6272 85.7809 28.5261C85.6648 28.4172 85.5333 28.3356 85.3863 28.2811C85.2393 28.2267 85.0923 28.1995 84.9453 28.1995H81.0109V30.6491L84.9453 30.6492Z"
            fill="#f0f0f0"></path>
          <path
            d="M107.823 35.0002C107.15 35.0002 106.504 34.9069 105.885 34.7202C105.266 34.5336 104.717 34.2575 104.237 33.892C103.765 33.5265 103.386 33.0755 103.099 32.5389C102.821 31.9945 102.682 31.3646 102.682 30.6491C102.682 29.9337 102.821 29.3077 103.099 28.7711C103.386 28.2267 103.765 27.7718 104.237 27.4063C104.717 27.0408 105.266 26.7647 105.885 26.5781C106.504 26.3914 107.15 26.2981 107.823 26.2981C108.496 26.2981 109.142 26.3914 109.761 26.5781C110.388 26.7647 110.937 27.0408 111.409 27.4063C111.889 27.7718 112.268 28.2267 112.547 28.7711C112.833 29.3077 112.976 29.9337 112.976 30.6491C112.976 31.3646 112.833 31.9945 112.547 32.5389C112.268 33.0755 111.889 33.5265 111.409 33.892C110.937 34.2575 110.388 34.5336 109.761 34.7202C109.142 34.9069 108.496 35.0002 107.823 35.0002ZM104.98 30.6491C104.98 31.1002 105.049 31.4813 105.189 31.7923C105.328 32.1034 105.521 32.3561 105.769 32.5505C106.016 32.745 106.314 32.8849 106.662 32.9705C107.011 33.056 107.398 33.0988 107.823 33.0988C108.249 33.0988 108.635 33.056 108.984 32.9705C109.332 32.8849 109.63 32.745 109.877 32.5505C110.133 32.3561 110.326 32.1034 110.458 31.7923C110.597 31.4813 110.667 31.1002 110.667 30.6491C110.667 30.1981 110.597 29.817 110.458 29.506C110.326 29.1949 110.133 28.9422 109.877 28.7477C109.63 28.5533 109.332 28.4133 108.984 28.3278C108.635 28.2423 108.249 28.1995 107.823 28.1995C107.398 28.1995 107.011 28.2423 106.662 28.3278C106.314 28.4133 106.016 28.5533 105.769 28.7477C105.521 28.9422 105.328 29.1949 105.189 29.506C105.049 29.817 104.98 30.1981 104.98 30.6491Z"
            fill="#f0f0f0"></path>
          <path
            d="M132.928 26.5664H135.099V31.734C135.099 32.255 135.041 32.7216 134.925 33.1338C134.809 33.5382 134.6 33.8804 134.298 34.1603C133.996 34.4325 133.582 34.6386 133.056 34.7786C132.53 34.9263 131.857 35.0002 131.037 35.0002C129.683 35.0002 128.665 34.7241 127.984 34.172C127.311 33.6199 126.975 32.8072 126.975 31.734H129.145C129.145 31.874 129.164 32.0295 129.203 32.2006C129.242 32.3717 129.327 32.535 129.458 32.6905C129.59 32.8461 129.779 32.9783 130.027 33.0871C130.275 33.1882 130.611 33.2388 131.037 33.2388C131.462 33.2388 131.799 33.1882 132.046 33.0871C132.302 32.9783 132.491 32.8461 132.615 32.6905C132.747 32.535 132.832 32.3717 132.87 32.2006C132.909 32.0295 132.928 31.874 132.928 31.734L132.928 26.5664Z"
            fill="#f0f0f0"></path>
          <path
            d="M152.232 31.1974V33.0988H158.603V34.7319H149.934V26.5664H158.603V28.1995H152.232V29.5643H158.058V31.1974H152.232Z"
            fill="#f0f0f0"></path>
          <path
            d="M180.901 29.2843C180.793 29.0899 180.646 28.9189 180.46 28.7711C180.274 28.6156 180.061 28.4872 179.822 28.3861C179.582 28.2773 179.322 28.1956 179.044 28.1412C178.773 28.0867 178.491 28.0595 178.197 28.0595C177.771 28.0595 177.377 28.1101 177.013 28.2112C176.649 28.3123 176.332 28.4678 176.061 28.6778C175.798 28.8877 175.589 29.156 175.434 29.4827C175.287 29.8093 175.214 30.1981 175.214 30.6492C175.214 31.1002 175.287 31.489 175.434 31.8157C175.589 32.1423 175.798 32.4106 176.061 32.6205C176.332 32.8305 176.649 32.986 177.013 33.0871C177.377 33.1882 177.771 33.2388 178.197 33.2388C178.491 33.2388 178.773 33.2116 179.044 33.1571C179.322 33.1027 179.582 33.0249 179.822 32.9238C180.061 32.815 180.274 32.6866 180.46 32.5389C180.646 32.3834 180.793 32.2084 180.901 32.014H183.21C183.048 32.5039 182.8 32.9355 182.468 33.3088C182.135 33.6821 181.744 33.9931 181.295 34.242C180.847 34.4908 180.355 34.6775 179.822 34.8019C179.295 34.9341 178.754 35.0002 178.197 35.0002C177.524 35.0002 176.87 34.9069 176.235 34.7202C175.601 34.5336 175.036 34.2575 174.541 33.892C174.053 33.5265 173.659 33.0755 173.357 32.5389C173.063 31.9945 172.916 31.3646 172.916 30.6491C172.916 29.9337 173.063 29.3077 173.357 28.7711C173.659 28.2267 174.053 27.7718 174.541 27.4063C175.036 27.0408 175.601 26.7647 176.235 26.5781C176.87 26.3914 177.524 26.2981 178.197 26.2981C178.754 26.2981 179.295 26.3603 179.822 26.4847C180.355 26.6092 180.847 26.7997 181.295 27.0563C181.744 27.3052 182.135 27.6162 182.468 27.9895C182.8 28.3628 183.048 28.7944 183.21 29.2843H180.901Z"
            fill="#f0f0f0"></path>
          <path
            d="M206.297 26.5664V28.1995H202.85V34.7319H200.552V28.1995H197.094V26.5664H206.297Z"
            fill="#f0f0f0"></path>
        </g>
        <defs>
          <clipPath id="clip0_226_96">
            <rect
              width="154"
              height="34"
            
              transform="translate(53 1)"></rect>
          </clipPath>
        </defs>
      </svg>

      <p class="text-base font-normal text-white/60 text-pretty">
        I worked on an innovative ecosystem aimed at enhancing agricultural
        efficiency. We utilized autonomous drones, equipped with infrared
        sensors and a spray system, to autonomously collect valuable field data
        or apply treatments on desired areas. This data was then used to provide
        personalized insights to optimize crop productivity. <p
          class="text-base font-normal text-white/60 text-pretty"
        >
          My contribution in this project was multifaceted, encompassing web and
          backend development, as well as the assembly of the drones.
        </p>
      </p>
      <div class="flex flex-row flex-wrap mt-6 gap-y-2">
        <FrontExperience>HTML</FrontExperience><FrontExperience>
          CSS
        </FrontExperience><FrontExperience>
          Figma
        </FrontExperience><FrontExperience>
          React Native
        </FrontExperience><FrontExperience>Java Script</FrontExperience>
        <BackExperience>Java</BackExperience><BackExperience>
          Python
        </BackExperience><BackExperience>Arduino</BackExperience><BackExperience
        >
          Spring Framework
        </BackExperience><BackExperience>
          PostgreSQL
        </BackExperience><BackExperience>REST</BackExperience>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-12 items-center">
    <BlurImage
      class="w-full h-auto rounded-xl flex-2"
      src="/parkexImg.jpg"
      alt="Cronus Project"
    />
    <div class="flex flex-col flex-1 flex-wrap gap-4">
      <svg class="self-start w-fit fill-[--white]" width="auto" height="35" viewBox="0 0 511 131"  xmlns="http://www.w3.org/2000/svg">
        <path d="M185.037 109.455V34.4548H199.952V43.6167H200.626C201.289 42.1489 202.248 40.6574 203.503 39.1423C204.781 37.6034 206.438 36.325 208.474 35.307C210.534 34.2654 213.091 33.7445 216.145 33.7445C220.122 33.7445 223.792 34.7862 227.153 36.8695C230.515 38.9292 233.202 42.0424 235.214 46.209C237.227 50.352 238.233 55.5485 238.233 61.7985C238.233 67.8828 237.25 73.0201 235.286 77.2104C233.344 81.3771 230.693 84.5376 227.331 86.692C223.993 88.8227 220.252 89.888 216.109 89.888C213.174 89.888 210.676 89.4027 208.616 88.432C206.58 87.4614 204.911 86.2422 203.609 84.7744C202.307 83.2829 201.313 81.7796 200.626 80.2644H200.165V109.455H185.037ZM199.845 61.7275C199.845 64.9709 200.295 67.7999 201.195 70.2147C202.094 72.6295 203.396 74.5116 205.101 75.861C206.805 77.1868 208.877 77.8497 211.315 77.8497C213.777 77.8497 215.861 77.1749 217.565 75.8255C219.27 74.4524 220.56 72.5585 221.436 70.1437C222.336 67.7052 222.786 64.8998 222.786 61.7275C222.786 58.5788 222.348 55.8089 221.472 53.4178C220.596 51.0267 219.305 49.1565 217.601 47.807C215.896 46.4576 213.801 45.7829 211.315 45.7829C208.853 45.7829 206.77 46.4339 205.065 47.736C203.384 49.0381 202.094 50.8847 201.195 53.2758C200.295 55.6669 199.845 58.4841 199.845 61.7275Z"/>
        <path d="M263.872 90.0301C260.392 90.0301 257.291 89.4264 254.568 88.219C251.846 86.9879 249.691 85.1768 248.105 82.7857C246.543 80.371 245.761 77.3643 245.761 73.7659C245.761 70.7355 246.318 68.1906 247.43 66.1309C248.543 64.0712 250.058 62.414 251.976 61.1593C253.893 59.9046 256.071 58.9576 258.51 58.3184C260.972 57.6792 263.553 57.2294 266.251 56.969C269.424 56.6375 271.981 56.3298 273.922 56.0457C275.863 55.7379 277.272 55.2881 278.148 54.6962C279.024 54.1044 279.462 53.2284 279.462 52.0684V51.8553C279.462 49.6063 278.751 47.8662 277.331 46.6352C275.934 45.4041 273.946 44.7886 271.365 44.7886C268.643 44.7886 266.476 45.3923 264.866 46.5997C263.257 47.7834 262.191 49.2748 261.67 51.0741L247.679 49.9377C248.389 46.6233 249.786 43.7587 251.869 41.344C253.953 38.9055 256.64 37.0353 259.93 35.7332C263.245 34.4074 267.08 33.7445 271.436 33.7445C274.466 33.7445 277.366 34.0997 280.136 34.8099C282.93 35.5201 285.404 36.621 287.558 38.1124C289.736 39.6039 291.453 41.5215 292.707 43.8653C293.962 46.1854 294.589 48.9671 294.589 52.2104V89.0002H280.243V81.4363H279.817C278.941 83.1408 277.769 84.6442 276.301 85.9462C274.833 87.2247 273.07 88.2308 271.01 88.9647C268.95 89.6749 266.571 90.0301 263.872 90.0301ZM268.205 79.5897C270.43 79.5897 272.395 79.1517 274.099 78.2758C275.804 77.3762 277.142 76.1688 278.112 74.6536C279.083 73.1385 279.568 71.4221 279.568 69.5045V63.7161C279.095 64.0239 278.444 64.308 277.615 64.5684C276.81 64.8051 275.899 65.0301 274.881 65.2431C273.863 65.4325 272.845 65.6101 271.827 65.7758C270.809 65.9178 269.885 66.048 269.057 66.1664C267.281 66.4268 265.731 66.8411 264.405 67.4093C263.079 67.9775 262.049 68.7469 261.315 69.7176C260.581 70.6645 260.214 71.8482 260.214 73.2687C260.214 75.3283 260.96 76.9027 262.452 77.9917C263.967 79.057 265.884 79.5897 268.205 79.5897Z"/>
        <path d="M306.326 89.0002V34.4548H320.992V43.9718H321.56C322.555 40.5864 324.224 38.0296 326.567 36.3014C328.911 34.5495 331.61 33.6735 334.664 33.6735C335.422 33.6735 336.238 33.7209 337.114 33.8156C337.99 33.9103 338.76 34.0405 339.423 34.2062V47.6295C338.712 47.4164 337.73 47.227 336.475 47.0613C335.22 46.8956 334.072 46.8127 333.031 46.8127C330.805 46.8127 328.817 47.298 327.065 48.2687C325.336 49.2157 323.963 50.5414 322.945 52.246C321.951 53.9505 321.454 55.9155 321.454 58.1409V89.0002H306.326Z"/>
        <path d="M360.951 73.3042L360.987 55.1579H363.189L380.66 34.4548H398.025L374.552 61.8695H370.966L360.951 73.3042ZM347.244 89.0002V16.2729H362.372V89.0002H347.244ZM381.335 89.0002L365.284 65.2431L375.369 54.5542L399.055 89.0002H381.335Z"/>
        <path d="M428.059 90.0656C422.448 90.0656 417.619 88.9292 413.57 86.6565C409.546 84.3601 406.444 81.1167 404.266 76.9264C402.088 72.7123 400.999 67.7289 400.999 61.9761C400.999 56.3653 402.088 51.441 404.266 47.2034C406.444 42.9657 409.51 39.6631 413.464 37.2957C417.441 34.9283 422.105 33.7445 427.455 33.7445C431.054 33.7445 434.404 34.3246 437.505 35.4846C440.63 36.621 443.352 38.3373 445.673 40.6337C448.016 42.9301 449.839 45.8184 451.141 49.2985C452.443 52.755 453.094 56.8033 453.094 61.4434V65.5982H407.036V56.2232H438.854C438.854 54.0452 438.381 52.1158 437.434 50.4349C436.487 48.754 435.173 47.4401 433.492 46.4931C431.835 45.5225 429.906 45.0372 427.704 45.0372C425.407 45.0372 423.371 45.5698 421.596 46.6352C419.844 47.6768 418.471 49.0855 417.477 50.861C416.482 52.6129 415.973 54.566 415.95 56.7204V65.6337C415.95 68.3326 416.447 70.6645 417.441 72.6295C418.459 74.5944 419.891 76.1096 421.738 77.1749C423.585 78.2403 425.774 78.7729 428.308 78.7729C429.988 78.7729 431.527 78.5362 432.924 78.0627C434.321 77.5892 435.516 76.879 436.511 75.932C437.505 74.9851 438.263 73.825 438.783 72.4519L452.775 73.3752C452.065 76.737 450.609 79.6726 448.407 82.182C446.229 84.6678 443.412 86.6091 439.955 88.0059C436.522 89.379 432.557 90.0656 428.059 90.0656Z"/>
        <path d="M474.632 34.4548L484.646 53.5244L494.909 34.4548H510.428L494.625 61.7275L510.854 89.0002H495.406L484.646 70.1437L474.064 89.0002H458.439L474.632 61.7275L459.007 34.4548H474.632Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25 0C11.1929 0 0 11.1929 0 25V105.5C0 119.307 11.1929 130.5 25 130.5H105.5C119.307 130.5 130.5 119.307 130.5 105.5V25C130.5 11.1929 119.307 0 105.5 0H25ZM40.5043 28.2729V101H58.0824V78.415H70.0142C75.5777 78.415 80.3835 77.3852 84.4318 75.3255C88.4801 73.2658 91.5933 70.3658 93.7713 66.6252C95.973 62.861 97.0739 58.4694 97.0739 53.4505C97.0739 48.4552 95.9967 44.0755 93.8423 40.3113C91.688 36.5234 88.6222 33.576 84.6449 31.469C80.6913 29.3383 75.992 28.2729 70.5469 28.2729H40.5043ZM58.0824 64.5656H66.7472C69.3987 64.5656 71.6122 64.1039 73.3878 63.1806C75.187 62.2573 76.5483 60.9671 77.4716 59.3099C78.3949 57.629 78.8565 55.6759 78.8565 53.4505C78.8565 51.2015 78.3949 49.2602 77.4716 47.6266C76.5483 45.9694 75.187 44.691 73.3878 43.7914C71.5885 42.8918 69.375 42.442 66.7472 42.442H58.0824V64.5656Z"/>
        </svg>
        

      <p class="text-base font-normal text-white/60 text-pretty">
        I worked on an innovative ecosystem aimed at enhancing agricultural
        efficiency. We utilized autonomous drones, equipped with infrared
        sensors and a spray system, to autonomously collect valuable field data
        or apply treatments on desired areas. This data was then used to provide
        personalized insights to optimize crop productivity. <p
          class="text-base font-normal text-white/60 text-pretty"
        >
          My contribution in this project was multifaceted, encompassing web and
          backend development, as well as the assembly of the drones.
        </p>
      </p>
      <div class="flex flex-row flex-wrap mt-6 gap-y-2">
        <FrontExperience>HTML</FrontExperience><FrontExperience>
          CSS
        </FrontExperience><FrontExperience>
          Figma
        </FrontExperience><FrontExperience>
          React Native
        </FrontExperience><FrontExperience>Java Script</FrontExperience>
        <BackExperience>Java</BackExperience><BackExperience>
          Python
        </BackExperience><BackExperience>Arduino</BackExperience><BackExperience
        >
          Spring Framework
        </BackExperience><BackExperience>
          PostgreSQL
        </BackExperience><BackExperience>REST</BackExperience>
      </div>
    </div>
  </div>
</div>
<style>
  .flexx-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 1;
  }
</style>
