---
import BackExperience from "./BackExperience.astro";
import FrontExperience from "./FrontExperience.astro";
import VideoExperience from "./VideoExperience.astro";
const BACKEND = [
  "Java",
  "Python",
  "C++",
  "Spring Framework",
  "REST",
  "Scikit-learn",
  "Machine Learning",
  "AWS",
  "Docker",
  "PostgreSQL",
  "OracleSQL",
  "Database Design",
  "Data Architecture",
  "Software Engineering",
  "Network Engineering",
  "Wireshark",
  "Packet Tracer",
  "Linux",
  "Bash",
  "Oracle VirtualBox",
  "Raspberry Pi",
  "Arduino",
];
const FRONTEND = [
  "HTML",
  "CSS",
  "JavaScript",
  "Tailwind CSS",
  "Astro",
  "NodeJS",
  "ReactJS",
  "React Native",
  "Android Studio",
  "Xcode",
  "Swift",
  "Figma",
  "Adobe Illustrator",
];
const VIDEOGAMES = [
  "Unity",
  "C#",
  "Unreal Engine",
  "Defold",
  "Autodesk 3ds Max",
  "Blender",
  "Mudbox",
  "Substance Painter",
  "Substance Designer",
  "Adobe Photoshop",
  "Pixel Art",
  "Game Design",
  "Level Design",
  "Sound Design",
  "Fmod",
];
---

<div
  class="w-full grid grid-row-3 gap-y-14 items-stretch m-auto justify-between mt-4"
>
  <!--border border-white/10 bg-gradient-to-b from-[#ffffff05] to-[#ffffff02] glow backdrop-blur-lg-->
  <div class="block h-fit rounded-lg">
    <h3 class="text-xl font-semibold dark:text-[--white] mb-3">
      Frontend
    </h3>
    <hr class="mb-4 sm:mx-auto border-white/20 " />
    <ul class="flex flex-wrap gap-2">
      {
        FRONTEND.map((experiencie) => (
          <FrontExperience>{experiencie}</FrontExperience>
        ))
      }
    </ul>
  </div>
  <div class="block h-fit rounded-lg">
    <h3 class="text-xl font-semibold dark:text-[--white] mb-3">
      Backend
    </h3>
    <hr class="mb-4 sm:mx-auto border-white/20 " />
    <ul class="flex flex-wrap gap-2">
      {
        BACKEND.map((experiencie) => (
          <BackExperience>{experiencie}</BackExperience>
        ))
      }
    </ul>
  </div>
  <div class="block h-fit rounded-lg">
    <h3 class="text-xl font-semibold dark:text-[--white] mb-3">
      Videogames
    </h3>
    <hr class="mb-4 sm:mx-auto border-white/20 " />
    <ul class="flex flex-wrap gap-2">
      {
        VIDEOGAMES.map((experiencie) => (
          <VideoExperience>{experiencie}</VideoExperience>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .glow {
    --tw-shadow: 0 20px 50px -12px rgba(255, 255, 255, 0.015);
    --tw-shadow-colored: 0 20px 40px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
</style>
