<span
  class=" text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-amber-900 text-amber-300 h-fit transition select-none hover:scale-[1.1] hover:border-amber-300/40 border border-amber-900"
>
  <slot />
</span>
